{{ $jsJQU := resources.Get "js/jquery.js" }}
{{ $jsBOO := resources.Get "js/bootstrap.bundle.js" }}
{{ $jsCOU := resources.Get "js/counterup2.js" }}
{{ $jsNOF := resources.Get "js/noframework.waypoints.js" }}
{{ $jsSWI := resources.Get "js/swiper-bundle.js" }}
{{ $jsAOS := resources.Get "js/aos.js" }}
{{ $jsCOM := resources.Get "js/common.js" }}
{{ $jsSTR := resources.Get "js/stripe-menu.js" }}
{{ $jsTYP := resources.Get "js/typed.js" }}
{{ $jsPRI := resources.Get "js/prism.js" }}
{{ $jsSIT := resources.Get "js/site.js" }}
{{ $jsBundle := slice $jsJQU $jsBOO $jsCOU $jsNOF $jsSWI $jsAOS $jsCOM $jsSTR $jsTYP $jsPRI $jsSIT | resources.Concat "js/bundle.js" | fingerprint }}
<script src="{{ $jsBundle.Permalink }}" integrity="{{ $jsBundle.Data.Integrity }}" crossorigin="anonymous"></script>