<!doctype html>
<html lang="{{ .Language }}">

{{ partial "header.html" . }}

<body>

    {{ partial "browserupgrade.html" . }}

    {{ partial "navbar.html" . }}

    <main class="overflow-hidden">
        
        <header class="page header image-background overlay overlay-darker alpha-8 text-contrast bg-grid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="bold display-md-12 text-contrast mb-1">
                            About the IRON initiative
                        </h1>

                        <p class="lead text-contrast">
                            We have a dream: offering qualitative and personal cybersecurity services that help you achieve your business goals.
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <div class="pt-2 bg-darker"></div>

        <section class="section overview">
            <div class="container">
                <div class="row align-items-center gap-y">
                    <div class="col-lg-6 text-center text-md-start">
                        <div class="section-heading">
                            <h2>
                                Security should not have<br>
                                <span class="bold">a negative conotation.</span>
                            </h2>

                            <p class="lead text-secondary">
                                We are proud of our Belgian craftsmanship.
                                <i class="fa fa-crown"></i>
                            </p>
                        </div>

                        <p>
                            Cybersecurity is a turbulent world where services, consultants, trends and solutions are thrown around dimes a dozen.
                            <span class="bold">We aim to be different.</span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="row gap-y">
                            <div class="col-6 col-sm-5 col-md-6 mt-6 ms-lg-auto text-dark">
                                <div data-aos="fade-up">
                                    <div class="card rounded b-3 border-black p-2 p-sm-4 shadow-hover text-center text-md-start">
                                        <i class="stroke-dark fa fa-smile fa-2x"></i>
                                        <p class="bold mb-0">
                                            Transparency
                                        </p>
                                        <p class="small">
                                            We do not hide details from you. We openly share our used technologies because we believe they are the right choice.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-5 col-md-6 me-lg-auto text-dark">
                                <div data-aos="fade-up">
                                    <div class="card rounded bg-dark text-white b-3 border-black p-2 p-sm-4 shadow-hover text-center text-md-start">
                                        <i class="fa fa-code fa-2x"></i>
                                        <p class="bold mb-0">
                                            Open Source
                                        </p>
                                        <p class="small">
                                            Our platform and infrastructure is completely open source and can be audited by anone at any time.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-5 col-md-6 me-lg-auto text-dark">
                                <div data-aos="fade-up">
                                    <div class="card rounded b-3 border-black p-2 p-sm-4 shadow-hover text-center text-md-start">
                                        <i class="stroke-dark fa fa-cloud fa-2x"></i>
                                        <p class="bold mb-0">
                                            Cloud Native
                                        </p>
                                        <p class="small">
                                            We do not dwell on legacy thinking or systems. We embrace remote working and cloud environments.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-6 col-sm-5 col-md-6 mt-n6 me-lg-auto text-dark">
                                <div data-aos="fade-up">
                                     <div class="card rounded b-3 border-black p-2 p-sm-4 shadow-hover text-center text-md-start">
                                        <i class="stroke-dark fa fa-award fa-2x"></i>
                                        <p class="bold mb-0">
                                            Best in Class
                                        </p>
                                        <p class="small">
                                            Our employees and solutions are chosen and designed upon the principle of quality, not profit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section bg-light">
            <div class="container bring-to-front">
                <div class="section-heading text-center text-dark">
                    <h2 class="bold">
                        A service that grows with you
                    </h2>

                    <p class="lead">
                        Our pricing is based on the size of your company with the same level of quality for everyone. No exceptions.
                    </p>
                </div>

                <div class="row align-items-center gap-y text-dark">
                    <div class="col-md-6 col-lg-5">
                        <ul class="list-unstyled">
                            <li class="d-block">
                                <i class="stroke-primary me-3 fa fa-car-battery fa-2x text-dark d-none d-md-block"></i>

                                <div class="mt-3 mt-lg-0 text-center text-md-start">
                                    <h5 class="bold text-dark">
                                        Batteries included.
                                    </h5>
                                    <p class="mt-0 mb-5">
                                        No hidden costs or cancellation fees. You only pay based on the size of your company and the amount of services you require.
                                    </p>
                                </div>
                            </li>

                            <li class="d-block">
                                <i class="stroke-primary me-3 fa fa-box-open fa-2x text-dark d-none d-md-block"></i>

                                <div class="mt-3 mt-lg-0 text-center text-md-start">
                                    <h5 class="bold text-dark">
                                        Free updates forever.
                                    </h5>
                                    <p class="mt-0 mb-5">
                                        Our security sensors auto-update to support latest features or install patches.
                                        Our SaaS platform and integrations are continuously improved behind the scenes.
                                    </p>
                                </div>
                            </li>

                            <li class="d-block">
                                <i class="stroke-primary me-3 fa fa-headset fa-2x text-dark d-none d-md-block"></i>

                                <div class="mt-3 mt-lg-0 text-center text-md-start">
                                    <h5 class="bold text-dark">
                                        Technical support.
                                    </h5>
                                    <p class="mt-0 mb-5">
                                        We do not hire external helpdesks, you talk with someone actively using and supporting our products. A real human.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-5 ms-md-auto">
                        <div class="shadow card">
                            <div class="card-header overlay gradient gradient-primary alpha-5 d-none d-md-block">
                                <div class="content">
                                    <h2 class="pt-5 pb-5 text-contrast bold">
                                        &nbsp;
                                        <i class="fa fa-heart text-white"></i>
                                        We only sell added value.
                                    </h2>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <p>
                                    Our service is purely built to improve the provided value of our solutions and to augment our service delivery to you.
                                    The IRON secret sauce will always be our people & culture.
                                </p>
                                
                                <a href="/about/contact/" class="btn btn-primary btn-dark mt-4">
                                    <i class="fa fa-arrow-right"></i>
                                    Try IRON out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="position-relative">
            <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-darker"><svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
                </svg></div>
        </div>

        <section class="section features bg-darker">
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="bold text-contrast">
                        Proud of our Stack
                    </h2>
                    <p class="lead text-muted">
                        Picking the right tool for the job is important.
                    </p>
                </div>
                <div class="row gap-y">

                    <div class="col-md-3">
                        <a target="_blank" href="https://golang.org/">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-code-branch"></i>
                                    <p class="mb-0">
                                        <strong>Go</strong> for our backend.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a target="_blank" href="https://github.com/">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-boxes"></i>
                                    <p class="mb-0">
                                        <strong>GitHub</strong> for our code.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a target="_blank" href="https://kubernetes.io">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-server"></i>
                                    <p class="mb-0">
                                        <strong>kubernetes</strong> for our infrastructure.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a target="_blank" href="https://www.pulumi.com">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-drafting-compass"></i>
                                    <p class="mb-0">
                                        <strong>Pulumi</strong> for IaC.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a target="_blank" href="https://helm.sh">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-hard-hat"></i>
                                    <p class="mb-0">
                                        <strong>helm</strong> for deployments.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a target="_blank" href="https://slack.com/">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-comments"></i>
                                    <p class="mb-0">
                                        <strong>Slack</strong> for communication.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a target="_blank" href="https://workspace.google.com">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-envelope-open-text"></i>
                                    <p class="mb-0">
                                        <strong>GSuite</strong> for collaboration.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a target="_blank" href="https://1password.com">
                            <div class="shadow-box shadow-hover lift-hover border-0 card bg-dark text-contrast">
                                <div class="card-body text-center">
                                    <i class="fa fa-key"></i>
                                    <p class="mb-0">
                                        <strong>1Password</strong> for secrets.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <div class="position-relative">
            <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-contrast">
                <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
                </svg>
            </div>
        </div>

        <section class="section bg-light">
            <div class="container swiper-center-nav bring-to-front pt-5">
                <div class="section-heading text-center">
                    <h2 class="bold">
                        Know our team
                    </h2>

                    <p class="lead text-secondary">
                        These amazing people make it all happen.
                    </p>
                </div>

                <div class="swiper-container" data-sw-centered-slides="false" data-sw-show-items="1" data-sw-space-between="30" data-sw-breakpoints='{"768": {"slidesPerView": 2, "spaceBetween": 30, "slidesPerGroup": 1}}'>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="card shadow">
                                <div class="container-fluid py-0">
                                    <div class="row">
                                        <div class="col-md-5 image-background cover center-top p-0 m-0 d-none d-md-block">
                                             <img class="img-responsive" alt="niels avatar" src="/img/avatars/niels.png"/>
                                        </div>
                                        <div class="col-md-7 py-sm-2">
                                            <div class="p-4">
                                                <h6 class="bold font-l">
                                                    Niels
                                                </h6>

                                                <p class="small mt-0 text-primary text-uppercase">
                                                    Founder
                                                </p>

                                                <p class="small m-0 p-0">
                                                    Does all the things. Operations, sales, triage.
                                                    Addicted to coffee.
                                                </p>

                                                <hr class="w-25 mt-2">

                                                <nav class="nav">
                                                    <a href="https://github.com/hazcod/" class="nav-item nav-link pb-0" target="_blank">
                                                        <i class="fab fa-github text-secondary"></i>
                                                    </a>
                                                    
                                                    <a href="https://ironpeak.be/" class="nav-item nav-link pb-0" target="_blank">
                                                        <i class="fa fa-globe text-secondary"></i>
                                                    </a>

                                                    <a href="https://www.linkedin.com/in/nielshofmans/" class="nav-item nav-link pb-0" target="_blank">
                                                        <i class="fab fa-linkedin text-secondary"></i>
                                                    </a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card shadow">
                                <div class="container-fluid py-0">
                                    <div class="row">
                                        <div class="col-md-5 image-background cover center-top p-0 d-none d-md-block">
                                             <img class="img-responsive " alt="arne avatar" src="/img/avatars/arne.png"/>
                                        </div>
                                        <div class="col-md-7 py-sm-2">
                                            <div class="p-4">
                                                <h6 class="bold font-l">
                                                    Arne
                                                </h6>

                                                <p class="small mt-0 text-primary text-uppercase">
                                                    SOC Analyst
                                                </p>

                                                <p class="small m-0 p-0">
                                                    Kills the alerts. Raises questions.<br/>
                                                    Hunger for intelligence.
                                                </p>

                                                <hr class="w-25 mt-2">

                                                <nav class="nav">
                                                    <a href="https://www.linkedin.com/in/arne-godts-61a42a142/" class="nav-item nav-link pb-0" target="_blank">
                                                        <i class="fab fa-linkedin text-secondary"></i>
                                                    </a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="d-none d-md-block">
                    <div class="swiper-button swiper-button-next rounded-circle shadow">
                        <i class="fa fa-arrow-right text-dark"></i>
                    </div>
                </div>

                <div class="d-none d-md-block">
                    <div class="swiper-button swiper-button-prev rounded-circle shadow">
                        <i class="fa fa-arrow-left text-dark"></i>
                    </div>
                </div>

            </div>
        </section>

       {{ partial "footer.html" . }}

    </main>

    {{ partial "scripts.html" . }}

</body>

</html>