<!doctype html>
<html lang="{{ .Language }}">

{{ partial "header.html" . }}

<body>

    {{ partial "browserupgrade.html" . }}

    {{ partial "navbar.html" . }}

    <main class="overflow-hidden">
        <!-- ./Page header -->
        <header class="header section image-background overlay overlay-darker alpha-8 text-contrast bg-grid">
            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead bold">
                            <i class="fa fa-file-signature mr-1"></i>
                            Honest license resell
                        </p>

                        <div class="display-4 text-contrast light">
                            for CrowdStrike software & services
                        </div>

                        <nav class="nav mt-5">
                            <a href="https://go.crowdstrike.com/2021-Gartner-Magic-Quadrant-Epp-Report.html" target="_blank" rel="noopener noreferrer" class="btn btn-contrast btn-lg px-5">
                                <i class="fa fa-book"></i>
                                Read why we chose Crowdstrike
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="position-relative">
            <div class="shape-divider shape-divider-bottom shape-divider-fluid-x text-darker">
                <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"></path>
                </svg>
            </div>
        </div>

        <div class="section bg-darker">
            <div class="container text-center pt-3 pb-6"></div>
        </div>

        <section class="section mt-n6">
            <div class="container pt-0">
                <div class="row g-3 text-center text-md-start">
                    <div class="col-md-4">
                        <div class="card shadow-sm shadow-hover lift-hover h-100 border-bottom-black">
                            <div class="card-body bg-contrast p-4">
                                <a href="javascript:;" class="text-darker">
                                    <h4 class="bold me-3">
                                        Transparent Pricing
                                    </h4>
                                </a>

                                <p class="mt-4">
                                    We believe security should not come at a premium.
                                    Buy licenses without having to deal with list prices and shady price reductions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card shadow-sm shadow-hover lift-hover h-100 border-bottom-black">
                            <div class="card-body bg-contrast p-4">
                                <a href="javascript:;" class="text-darker">
                                    <h4 class="bold me-3">
                                        Quick Quotes
                                    </h4>
                                </a>
                                
                                <p class="mt-4">
                                    Easily get a quote within a business day so you can compare with others. No strings attached.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card shadow-sm shadow-hover lift-hover h-100 border-bottom-black">
                            <div class="card-body bg-contrast p-4"><a href="javascript:;" class="text-darker">
                                    <h4 class="bold me-3">
                                        Honest renewals
                                    </h4>
                                </a>

                                <p class="mt-4">
                                    Get a new invoice to renew. If you do not plan to renew before your end date, just let us know.
                                    There are no gotchas.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section bg-white mt-n2">
            <div class="container bring-to-front">
                <div class="row gap-y">
                    <div class="col-md-6">

                        <div class="rounded shadow-box bg-contrast mt-4">
                            <div class="d-flex align-items-center px-3">
                                <div class="flex-fill my-3 ps-3 b-l">
                                    <p class="bold text-primary my-0">
                                        <i class="fa fa-sign-in-alt mr-3"></i>
                                        Generate a quote
                                    </p>
                                    <p class="my-0 text-secondary">
                                        Easily pick the license combination you'd like to see on your CrowdStrike tenant on this web page.
                                        In case something is not clear, do not hesitate to reach out to us and we will gladly assist.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="rounded shadow-box bg-contrast mt-4">
                            <div class="d-flex align-items-center px-3">
                                <div class="flex-fill my-3 ps-3 b-l">
                                    <p class="bold text-primary my-0">
                                        <i class="fa fa-file-signature mr-3"></i>
                                        Sign the quote
                                    </p>
                                    <p class="my-0 text-secondary">
                                        Deliver the quote back to us according to the instructions on the document.
                                        Signing ensures us you are going to consume the licenses.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="rounded shadow-box bg-contrast mt-4">
                            <div class="d-flex align-items-center px-3">
                                <div class="flex-fill my-3 ps-3 b-l">
                                    <p class="bold text-primary my-0">
                                        <i class="fa fa-money-bill mr-3"></i>
                                        Pay the invoice
                                    </p>
                                    <p class="my-0 text-secondary">
                                        A detailed invoice will be sent to your billing email address.
                                        Once the payment has been received, we process your order in five business days.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="rounded shadow-box bg-contrast mt-4">
                            <div class="d-flex align-items-center px-3">
                                <div class="flex-fill my-3 ps-3 b-l">
                                    <p class="bold text-primary my-0">
                                        <i class="fa fa-box mr-3"></i>
                                        Receive the goods
                                    </p>
                                    <p class="my-0 text-secondary">
                                        If you are a new CrowdStrike customer, you will receive credentials to a new tenant in the EU region.
                                        For existing customers, your licenses will be assigned to your existing tenant.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ms-md-auto text-center text-md-start d-none d-md-block">
                        <div class="mb-5">

                            <h2 class="mt-3 bold">
                                What's this about?
                            </h2>

                            <p class="lead text-primary">
                                We are the only party that publicly discloses their CrowdStrike license pricing online, no phone calls nor meetings.
                            </p>

                             <p class="text-secondary">
                                It's because we believe security shouldn't come at a premium. It's honesty.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section b-b bg-dark text-white" id="configurator">
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="bold text-white text-wrap">
                        Quote Configurator
                    </h2>
                </div>

                <div id="altError" class="alert alert-danger d-none" role="alert">
                    <div class="bold">
                        <i class="fas fa-times mr-3"></i>
                        Unable to generate quote.
                    </div>

                    <span id="lblError"></span>
                </div>

                <div id="altSuccess" class="alert alert-success d-none" role="alert">
                    <div class="bold">
                        <i class="fas fa-check mr-3"></i>
                        Success!
                    </div>

                    Your quote has been generated and will arrive to your mailbox in the next minute.
                </div>

                <form id="frmContact" action="" method="post" class="form form-contact" name="frmQuote">
                    
                    <div id="divRecaptcha"></div>
                    <input id="license_crf" type="hidden" name="crf" value=""/>

                    <div class="row">
                        <div class="col-md-4 col-lg-3 ms-lg-auto order-md-2">
                            <strong>
                                Account Details
                            </strong>
                            
                            <hr/>

                            <div class="form-grou mb-3">
                                <label for="exampleFormControlInput1" class="bold">
                                    Your full name
                                </label>
                                <input type="text" class="form-control bg-dark text-white" id="inName" placeholder="John Doe" required>
                            </div>


                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1" class="bold">
                                    Your email address
                                </label>
                                <input type="email" class="form-control bg-dark text-white" id="inEmail" placeholder="j.doe@acmecorp.com" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1" class="bold">
                                    Company name
                                </label>
                                <input type="text" class="form-control bg-dark text-white" id="inCompany" placeholder="ACME Corporation" required>
                            </div>


                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1" class="bold">
                                    Company Address
                                </label>
                                <input type="text" class="form-control bg-dark text-white" id="inComAddr" placeholder="ACME Street 3, Los Angeles" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1" class="bold">
                                    Company Country of registration
                                </label>
                                <input type="text" class="form-control bg-dark text-white" id="inComCountry" placeholder="United States" required>
                            </div>


                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1" class="bold">
                                    Company VAT number
                                </label>
                                <input type="text" class="form-control bg-dark text-white" id="inComVAT" placeholder="US3854885379" required>
                            </div>


                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1">
                                    <span class="bold">CID</span>
                                    <small>(if existing CrowdStrike customer)</small>
                                </label>
                                <input type="text" class="form-control bg-dark text-white" id="inCID" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-XX">
                            </div>
                        </div>
                        <div class="col-md-8">

                            &nbsp;
                        
                            <table class="table table-dark table-responsive table-hover text-white" id="tblQuote">
                                <tbody>
                                <tr>
                                    <td class="min">
                                        <input type="number" id="inEDR" class="form-control bg-dark text-white form-control-sm pr-4" value="1" min="0" width="4" required/>
                                    </td>

                                    <td class="ps-4">
                                        Endpoint Detection & Response (incl. Threat Hunting)
                                    </td>

                                    <td id="lblEndpoints">
                                        &euro; 50
                                    </td>
                                </tr>

                                <tr>
                                    <td class="min">
                                        <input id="chkRemovable" class="form-check-input bg-dark text-white form-control-md" type="checkbox" value="true" checked>
                                    </td>

                                    <td class="ps-4">
                                        Removable Device Management
                                    </td>
                                    
                                    <td id="lblRemov">
                                        &euro; 5
                                    </td>
                                </tr>
                                <tr>
                                    <td class="min">
                                        <input class="form-check-input bg-dark text-white form-control-md" type="checkbox" value="true" id="chkFirewall" checked>
                                    </td>

                                    <td class="ps-4">
                                        Firewall Management
                                    </td>

                                    <td id="lblFirewall">
                                        &euro; 5
                                    </td>
                                </tr>
                                <tr>
                                    <td class="min">
                                        <input class="form-check-input bg-dark text-white form-control-md" type="checkbox" value="true" id="chkAsset" checked>
                                    </td>

                                    <td class="ps-4">
                                        Asset Visibility
                                    </td>
                                    
                                    <td id="lblAsset">
                                        &euro; 9
                                    </td>
                                    </tr>

                                <tr>
                                    <td class="min">
                                        <input class="form-check-input bg-dark text-white form-control-md" type="checkbox" value="true" id="chkVuln" checked>
                                    </td>

                                    <td class="ps-4">
                                        Endpoint vulnerability management
                                    </td>
                                    
                                    <td id="lblVuln">
                                        &euro; 15
                                    </td>
                                </tr>

                                <tr>
                                    <td class="min">
                                        <input class="form-check-input bg-dark text-white form-control-md" type="checkbox" value="true" id="chkSIEM" checked>
                                    </td>

                                    <td class="ps-4">
                                        SIEM data replicator
                                    </td>
                                    
                                    <td id="lblSIEM">
                                        &euro; 4
                                    </td>
                                </tr>

                                <tr>
                                    <td class="min">
                                        <input class="form-check-input bg-dark text-white form-control-md" type="checkbox" value="true" id="chkIntel" checked>
                                    </td>

                                    <td class="ps-4">
                                        Intelligence enrichment
                                    </td>
                                    
                                    <td id="lblIntel">
                                        &euro; 17
                                    </td>
                                </tr>

                                <tr>
                                    <td class="min">
                                        <input type="number" class="form-control bg-dark text-white form-control-sm" id="numMobile" value="1" min="0" width="4" required/>
                                    </td>

                                    <td class="ps-4">
                                        Mobile Device Protection
                                    </td>
                                    
                                    <td id="lblMobile">
                                        &euro; 30
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td class="min">
                                        <input type="number" class="form-control bg-dark text-white form-control-sm" id="numCloud" value="1" min="0" width="4" required/>
                                    </td>
    
                                    <td class="ps-4">
                                        Cloud Protection
                                    </td>
                                    
                                    <td id="lblCloud">
                                        &euro; 80
                                    </td>
                                </tr>

                                <tr>
                                    <td class="min">
                                    </td>
    
                                    <td class="ps-4 text-gray">
                                        Support fee (12%)
                                    </td>

                                    <td class="text-gray" id="lblSupport">
                                        &euro; 100
                                    </td>
                                </tr>


                                <tr>
                                    <td class="min">
                                    </td>
    
                                    <td class="ps-4">
                                        <span class="bold">
                                            Total yearly cost (ex. VAT):
                                        </span>
                                    </td>
                                    
                                    <td id="lblTotal">
                                        &euro; 100
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <small class="text-secondary">
                            If you'd like multi-year deals or >1000 endpoints, please <a href="/about/contact/">reach out for a custom deal</a>.
                        </small>

                        <button class="btn btn-light g-recaptcha pull-right"
                        id="btnGetQuote"
                        data-sitekey="6LdZcn8cAAAAAI8hsjJvPMD_5X4O1he6aeb3bUYg" 
                        data-callback='onSubmitCaptcha' 
                        data-action='submit'>
                            <i class="fa fa-arrow-right mr-1"></i>
                            Email me the quote
                        </button>
                    </div>

                </form>
            </div>
        </section>

        <section class="section">
            <div class="container pb-2">
                <div class="row">
                    <div class="col-md-4">
                        <h2>
                            I'm sure you're still having loads of <span class="bold">questions</span>.
                        </h2>
                        <p class="lead">
                            Let's go over the most common ones, but don't hesitate to just reach out for a talk.
                        </p>
                    </div>

                    <div class="col-md-8">
                        <div class="accordion accordion-clean" id="faqs-accordion">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <a href="#" class="card-title btn text-dark" data-bs-toggle="collapse" data-bs-target="#q1">
                                        <i class="fas fa-angle-down angle"></i>
                                        How does this compare with other resellers?
                                    </a>
                                </div>
                                <div id="q1" class="collapse show" data-bs-parent="#faqs-accordion">
                                    <div class="card-body">
                                       Most license or SaaS resellers try to lure you into profit schemes, where they want to schedule meetings to then deliver you list prices.
                                        You are then expected to haggle down prices and gamble how much price reduction you should be able to get.
                                        This is not the case with us at all.
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card mb-3">
                                <div class="card-header">
                                    <a href="#" class="card-title btn text-dark" data-bs-toggle="collapse" data-bs-target="#q2">
                                        <i class="fas fa-angle-right angle"></i>
                                        Why can't I buy from CrowdStrike directly?
                                    </a>
                                </div>
                                <div id="q2" class="collapse" data-bs-parent="#faqs-accordion">
                                    <div class="card-body">
                                        To operate more efficiently, CrowdStrike works 100% through their channel of resellers/partners, even though there may be some exceptions.
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">
                                    <a href="#" class="card-title btn text-dark" data-bs-toggle="collapse" data-bs-target="#q3">
                                        <i class="fas fa-angle-right angle"></i>
                                        Do I still own my own tenant?
                                    </a>
                                </div>
                                <div id="q3" class="collapse" data-bs-parent="#faqs-accordion">
                                    <div class="card-body">
                                        If you are a new CrowdStrike customer, we create a brand new tenant under our parent tenant for you.
                                        This allows us to allocate your licenses to your specific tenant. You have full administrative permissions to your tenant.
                                        If you would choose to purchase licenses elsewhere, we disconnect your tenant via a simple support request.
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">
                                    <a href="#" class="card-title btn text-dark" data-bs-toggle="collapse" data-bs-target="#q4">
                                        <i class="fas fa-angle-right angle"></i>
                                        What if I do not pay in time?
                                    </a>
                                </div>
                                <div id="q4" class="collapse" data-bs-parent="#faqs-accordion">
                                    <div class="card-body">
                                        In this case, we will reach out to you proactively to let you know we did not yet receive the payment.
                                        In case of new licenses, the tenant will not be provisioned.
                                        If you are an existing customer, you will be given some extra time to let payments process.
                                        If after a month the payment is still not received, we can disable your access to your tenant. 
                                    </div>
                                </div>
                            </div>


                            <div class="card mb-3">
                                <div class="card-header">
                                    <a href="#" class="card-title btn text-dark" data-bs-toggle="collapse" data-bs-target="#q5">
                                        <i class="fas fa-angle-right angle"></i>
                                        How long is data kept in my tenant?
                                    </a>
                                </div>
                                <div id="q5" class="collapse" data-bs-parent="#faqs-accordion">
                                    <div class="card-body">
                                        The standard license includes a Threat Graph option of <strong>90 days</strong> for detection-related data.
                                        Should you be wishing to keep data for longer, we recommend contacting us via email or the contact form.
                                        You can also use the <emp>Data Replicator</emp> to ingest the events into your SIEM/SOAR system.
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">
                                    <a href="#" class="card-title btn text-dark" data-bs-toggle="collapse" data-bs-target="#q6">
                                        <i class="fas fa-angle-right angle"></i>
                                        How will I receive my licenses?
                                    </a>
                                </div>
                                <div id="q6" class="collapse" data-bs-parent="#faqs-accordion">
                                    <div class="card-body">
                                       If the payment has been received, we will process your order within 5 business days.
                                       If you are a new CrowdStrike customer, a new tenant will be created for you in the EU region and administrator credentials provided to you.
                                       In case you already have a tenant, a support request will be created to assign the licenses to your CID tenant identifier.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr/>

        <section class="section bg-contrast top-left b-b">
            <div class="container">
                <div class="d-flex align-items-center flex-column flex-md-row">
                    <div class="text-center text-md-start">
                        <p class="light mb-0 text-primary lead">
                            Still having doubts?
                        </p>

                        <h2 class="mt-0 bold">
                            Reach out to us to clear out any concerns.
                        </h2>
                    </div>

                    <a href="/about/contact/" class="btn btn-dark mt-3 mt-md-0 ms-md-auto">
                        Contact us
                    </a>
                </div>
            </div>
        </section>

        {{ partial "footer.html" . }}

    </main>

    {{ partial "scripts.html" . }}

    <script src="https://www.google.com/recaptcha/api.js"></script>

    {{ $pageJS := resources.Get "js/licenses.js" | minify | fingerprint }}
    <script src="{{ $pageJS.Permalink }}" integrity="{{ $pageJS.Data.Integrity }}" crossorigin="anonymous"></script>
</body>

</html>
